body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(134, 207, 25);
	margin: 0;
}

.form {
	position: absolute;
	width: 400px;
	top: 30%;
	background-color: rgb(255, 230, 0);
	border-radius: 10px;
	box-shadow: 0 4px 8x rgba(0, 0, 0, 0.3);
}

.input {
	width: 100%;
	font-size: 20px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	border: none;
	border-radius: 10px 10px 0 0;
	box-sizing: border-box;
	padding: 20px;
}

.input::placeholder {
	color: lightgray;
}

.list {
	padding: 0;
	margin: 0;
}

.list li {
	position: relative;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	border-top: dotted;
	border-color: darkgray;
	list-style-type: none;
	padding: 20px;
}

.list li .fa-trash {
	position: absolute;
	top: 50%;
	right: 10px;
	color: red;
	transform: translateY(-50%);
	cursor: pointer;
}

.list li .fa-check-square {
	position: absolute;
	color: green;
	right: 40px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.list li.checked {
	color: lightgray;
	text-decoration: line-through;
}

.list li.checked .fa-check-square {
	color: darkgray;
}
