body {
	display: flex;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: pink;
	margin: 0;
}

h1 {
	font-size: 50px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	letter-spacing: 4px;
	color: #fff;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
	white-space: nowrap;
}

.container {
	text-align: center;
}

.button {
	min-width: 200px;
	background-color: #fff;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 30px;
	color: #fff;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
	text-transform: capitalize;
	background-image: url(images/tom.png);
	background-size: cover;
	border: none;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	padding: 30px 50px;
	margin: 10px;
	cursor: pointer;
}

.button:hover {
	color: pink;
}

.button:active {
	background-size: 105%;
}
