body {
	display: flex;
	height: 100vh;
	font-family: sans-serif;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 4rem;
}

.value {
	font-size: 6rem;
}
