body {
	display: flex;
	min-height: 100vh;
	font-family: monospace;
	background: linear-gradient(to left bottom, lightgreen, lightblue);
	justify-content: center;
	align-items: center;
	margin: 0;
}

.container {
	width: 90%;
	background-color: rgba(255, 255, 255, 0.3);
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
	text-align: center;
	padding: 30px;
	border-radius: 15px;
	margin: 10px;
}

.heading {
	font-size: 35px;
	font-weight: 700;
}

.quote {
	display: none;
	font-size: 30px;
}

.author {
	display: none;
	font-size: 25px;
	margin: 10px;
	font-style: italic;
}

.button {
	width: 300px;
	font-size: 18px;
	border-radius: 5px;
	cursor: pointer;
	text-transform: uppercase;
	background-color: rgba(255, 255, 255, 0.3);
	border-color: rgba(255, 255, 255, 0.6);
	padding: 10px;
	margin-top: 15px;
}

.button:hover {
	color: green;
	background-color: rgba(255, 255, 255, 0.6);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
	transition: all 0.3s ease;
}
